.Class-column-button {
    background-color: #1662b8;
    height: 20vh;
    width: 15vw;
    border-radius: 20px;
    margin-left: 13.5vw;
    margin-top: 5vh;
}

.personIcon {
    position: absolute;
    margin: 9.2vh 0 0 4.8vw;
    height: 80px;
    width: auto;
}

.houseIcon {
    position: absolute;
    margin: 9.2vh 0 0 4.4vw;
    height: 80px;
    width: auto;
}

.mapIcon {
    position: absolute;
    margin: 9.2vh 0 0 4.4vw;
    height: 80px;
    width: auto;
}

.Class-column-button:hover {
    background-color: rgb(45, 57, 124);
    cursor: pointer;
}