.App {
  text-align: center;
}

.App-header {
  background-color: #d9dde6;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(78, 102, 155);
}

.App-view {
  display: flex;
  flex-direction: row;
}